PORT=3001
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
GCS_BUCKET_NAME=trankilo-agentfiles
GCS_PROJECT_ID=
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
RESEND_API_KEY=
EMAIL_FROM=trankilo-ai <noreply@trankilo.ai>
APP_URL=https://your-domain.com
